<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<section>
		<!-- main content -->
		<main class="mt-1 p-2">
			<div class="container">
				<nav class="mt-1 mb-5" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item">Profile Management</li>
						<li class="breadcrumb-item">Password Change</li>
					</ol>
				</nav>

				<div class="row">
					<div th:if="${msg}" class="col-md-6 mb-3 alert alert-danger" style="margin-left:10px;">
						<span th:text="${msg}"></span>
					</div>
				</div>

				<form th:action="@{/profile/password-change}" th:object="${passwordChangeDTO}" method="post">
					<div class="row">
						<div class="col-md-6">
							<label for="newPassword" class="form-label">New Password</label>
							<input class="form-control" type="password" id="newPassword" th:field="*{newPassword}"  required/>
						</div>
						<div class="col-md-6">
							<label for="confirmNewPassword" class="form-label">Confirm New Password</label>
							<input class="form-control" type="password" id="confirmNewPassword" th:field="*{confirmNewPassword}" required/>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5 mt-4">
							<button type="submit" class="btn btn-success">Change Password</button>
						</div>
					</div>
				</form>
			</div>
		</main>
		<!-- main content end-->
	</section>

</body>

</html>