<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<section>
		<!-- main content -->
		<main class="mt-1 p-2">
			<div class="container">

				<nav class="mt-1 mb-5" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="/book-service">Manage Cleaners</a></li>
						<li class="breadcrumb-item">Edit</li>
					</ol>
				</nav>

				<div class="row">
					<div th:if="${msg}" class="col-md-6 mb-3 alert alert-danger" style="margin-left:10px;">
						<span th:text="${msg}"></span>
					</div>
				</div>

				<form th:action="@{/cleaner/edit}" th:object="${cleanerDTO}" method="post">

					<div class="row">
						<input type="hidden" th:field="*{id}"/>

						<div class="col-md-6">
							<label for="cleaner" class="form-label">Cleaner</label>
							<input class="form-control" type="text" id="cleaner" th:field="*{name}" readonly="readonly" required/>
						</div>
						<div class="col-md-6">
							<label for="status" class="form-label">Status</label>
							<input class="form-control" type="text" id="status" th:field="*{status}" readonly="readonly"/>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5 mt-4">
							<a href="/cleaner" class="btn btn-warning" style="margin-right: 15px;"> Back</a>
							<button type="submit" class="btn btn-success"> Approve Cleaner</button>
						</div>
					</div>

				</form>

			</div>

		</main>
		<!-- main content end-->

		<script th:src="@{/js/book-service/booking.js}" type="text/javascript"></script>
	</section>

</body>

</html>